body {
    font-family: 'Helvetica', sans-serif;
    background-color: #bfc2ad;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  img {
    height: 150px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  h1 {
    color: #2e8b57;
    font-size: 2.5em;
    margin: 10px 0;
  }
  
  .description {
    font-size: 20px;
    margin: 10px 0;
  }
  
  #cook-time {
    font-weight: bold;
    margin: 10px 0;
  }
  
  h2 {
    color: #2e8b57;
    font-size: 2em;
    margin: 20px 0 10px;
  }
  
  .ingredients li {
    list-style: square;
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
  }
  
  ol {
    text-align: left;
    margin-left: 40%;
    margin-right: 40%;
    padding-left: 0;
  }
  
  .time {
    color: rgb(37, 71, 122);
    font-size: 0.9em;
    margin-top: 5px;
  }
  
  .citation {
    margin-top: 20px;
  }
  
  .external-link {
    color: SeaGreen;
    text-decoration: none;
  }
  
  .external-link:hover {
    text-decoration: underline;
  }
  
  h1, h2, p, li {
    font-family: 'Helvetica', sans-serif;
  }
  